.image{
    height: 50px;
    margin-top: -15px;
}

.form_center{
    margin: 0 auto;
    max-width: 400px;
    padding: 15px;
}

.menu_border{
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.input_readonly{
    background-color: #ffffff !important;
}

html{
    overflow-y:scroll;
}

